#contact {
    position: relative;
    margin: 40px 0;
}

.contact-items {
    position: relative;
}

div.itemContact {
    display: flex;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid black;
}

div.itemContact:last-child {
    border-bottom: none;
}

.contact-icon {
    width: 20%;
    margin-left: 200px;
}

.contact-icon i {
    font-size: 5rem;
    border-radius: 100%;
    padding: 50px;
    background-color: rgb(173, 173, 173);
}

.contact-info {
    width: 80%;
    margin-left: 200px;
}

.contact-info h3,
.contact-info h3 > span {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 4rem;
    line-height: 5rem;
    font-weight: bold;
}

.contact-info h3 > span {
    color: red;
}

.contact-info > span {
    font-size: 2rem;
}