@media (min-width: 501px) and (max-width: 1024px) {
    .nar-bar-btn {
        display: block;
        padding: 10px;
    }

    div.col-10 > img {
        display: none;
    }

    .nav-Bar-items {
        display: none;
    }

   

    .nar-bar-btn {
        padding: 20px;
        display: block;
        margin: auto 0 auto 95%;
    }

    div.col-10  {
        margin: 0;
    }

    .col-90 {
        display: none;
    }

    .nav-overlay {
        z-index: 99999;
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
    }
    
    .col-90-tablet {
        display: block;
        z-index: 999999;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 320px;
        max-width: 100%;
        background-color: rgb(160, 156, 156);
        transform: translateX(100%);
        transition: transform linear 0.2s;
    }

    .nav-Bar-items-tablet {
        padding-top: 50px;
    }

    .nav-Bar-items-tablet > li {
        display: block;
        padding: 10px 0 10px 30px ;
    }

    .nav-Bar-items-tablet > li > a {
        text-decoration: none;
        font-size: 2rem;
        font-weight: bold;
        color: var(--nav-color);
    }

    /* Xử lý phần menu con trong menu */
    .travel-tablet,
    .hotel-tablet {
        display: none;
    }

    .hotel-tablet > .hotel-items-tablet,
    .travel-items-tablet {
        margin-left: 30px;
    }

    .hotel-items-tablet > ul > li,
    .travel-items-tablet > ul > li {
        margin-top: 10px;
        padding: 5px 0;
    }

    .travel-items-tablet > ul > li > a,
    .hotel-items-tablet > ul > li > a {
        text-decoration: none;
        font-size: 2rem;
        font-weight: bold;
        color: var(--nav-color);
    }

    .travel-items-tablet > ul > li > a:hover,
    .hotel-items-tablet > ul > li > a:hover {
        color: white;
    }

    .nav-Bar-items-tablet > li a:hover {
        color: white;
    }

    li.travel-main-tablet:hover div.travel-tablet,
    li.hotel-main-tablet:hover div.hotel-tablet {
        display: block;
    }

    .footer-product > div.price {
        font-size: 1.6rem;
        padding: 11px;
    }

    .info-SanPham > a > p {
        margin: 20px 0 10px 0;
        color: var(--text-color);
        font-size: 1.6rem;
        line-height: 2rem;
        font-weight: 600;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }

    /* Xử lý icon */
    .btnDelete-icon {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .btnDelete-icon i {
        font-size: 1.8rem;
        color: white;
    }

    /* Xử lý ẩn hiện */
    .check__input:checked ~ .nav-overlay {
        display: block;
    }

    .check__input:checked ~ .col-90-tablet {
        transform: translateX(0%);
    }

    .Tour-items {
        display: none;
    }

    /* Xử lý phần sản phẩm */
    .container1 {
        margin: 0 100px;
    }

    .row-SanPhamHot > div.col-30 {
        width: 40%;
        margin: 20px 30px;
    }

    .location i,
    .location span,
    .startDay i,
    .startDay span {
        font-size: 1.6rem;
        padding: 5px 0;
        font-weight: 400;
    }

    .footer-product {
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
        background-color: rgb(187, 186, 186);
    }

    /*Xử lí Phần cảm ơn */
    .title-tablet span {
        font-size: 2.5rem;
        padding-top: 20px;
        font-weight: 600;
        line-height: 3rem;
    }

    .title-tablet h2 {
        font-size: 3rem;
        line-height: 4rem;
    }

    .introduce-company {
        margin: 40px 0;
    }

    .subject {
        display: block;
        padding: 20px 0;
    }

    .stats-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 40px 0;
    }

    .stats {
        text-align: center;
    }

    .stats i{
        font-size: 3rem;
    }

    .stats span {
        font-size: 2.5rem;
        font-weight: bold;
    }

    .stats h3 {
        font-size: 2rem;
    }

    .fa-calendar {
        color: green;
    }

    .fa-user {
        color: red;
    }

    .fa-route {
        color: blue;
    }




/* Xử lý phần footer */
    #footer > div.container {
        margin-left: 0;
        margin-right: 0;
    }

    .col-20 {
        width: 23%;
    }

    .googlemap iframe {
        height: 180px;
        width: 300px;
        border-radius: 5px;
    }
    /* Xử lý phần liên hệ */
    .contact-icon {
        margin-left: 20px;
    }

    .contact-icon i {
        font-size: 2rem;
        padding: 20px;
        margin-top: 20px;
    }

    .contact-info {
        margin-left: 20px;
    }

    .contact-info h3,
    .contact-info h3 > span {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 2rem;
        line-height: 2rem;
    }

    .contact-info h3 > a {
        font-size: 2rem !important;
    }

    .contact-info > span {
        font-size: 2rem;
        line-height: 2rem;
    }

    /* xử lý giỏ hàng*/
    #information .row-information {
        display: block;
        margin: 0;
    }

    #information .container {
        margin-right: 10px;
    }

    #information .col30 {
        width: 100%;
        margin-top: 20px;
    }

    #information div.col-70 {
        width: 100%;
        padding: 0 10px;
        margin: 20px 0;
    }

    #information div.container {
        margin-left: 40px;
        margin-right: 40px;
    }

    

    #information .Item-infoTrip {
        width: 100%;
        padding: 10px;
    }

    #information .Item-infoTrip h3 {
        font-size: 1.6rem;
    }

    div.form-title h2,
    div.form-title i {
        font-size: 1.6rem;
    }

    div.total span {
        font-size: 2rem;
        padding: 0;
        margin: 10px;
    }

    div.total > span > span {
        margin: 0 10px;
    }

    div.total > span {
        display: flex;
    }

    #information .formInfo {
        padding: 0 200px 10px;
    }

    form > div.formInfo input {
        padding: 5px;
        font-size: 1.4rem;
        width: 100%;
    }

    form > div.formInfo label {
        font-size: 1.4rem;
    }

    div.Info-trip > div.content {
        padding-left: 10px;
    }

    div.Info-trip > div.content i,
    div.Info-trip > div.content span {
        font-size: 1.6rem;
    }

    .numberOfPeople-item span.total-item {
        margin-left: 5px;
    }


}
















@media (min-width: 1024px) and (max-width: 1200px){
/* Xử lý phần tablet cho thanh navbar */
    div.col-10 > img {
        display: none;
    }

    .nar-bar-btn {
        padding: 20px;
        display: block;
        margin: auto 0 auto 95%;
    }

    div.col-10  {
        margin: 0;
    }

    .col-90 {
        display: none;
    }

    .nav-overlay {
        z-index: 99999;
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
    }
    
    .col-90-tablet {
        display: block;
        z-index: 999999;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 320px;
        max-width: 100%;
        background-color: rgb(160, 156, 156);
        transform: translateX(100%);
        transition: transform linear 0.2s;
    }

    .nav-Bar-items-tablet {
        padding-top: 50px;
    }

    .nav-Bar-items-tablet > li {
        display: block;
        padding: 10px 0 10px 30px ;
    }

    .nav-Bar-items-tablet > li > a {
        text-decoration: none;
        font-size: 2rem;
        font-weight: bold;
        color: var(--nav-color);
    }

    /* Xử lý phần menu con trong menu */
    .travel-tablet,
    .hotel-tablet {
        display: none;
    }

    .hotel-tablet > .hotel-items-tablet,
    .travel-items-tablet {
        margin-left: 30px;
    }

    .hotel-items-tablet > ul > li,
    .travel-items-tablet > ul > li {
        margin-top: 10px;
        padding: 5px 0;
    }

    .travel-items-tablet > ul > li > a,
    .hotel-items-tablet > ul > li > a {
        text-decoration: none;
        font-size: 2rem;
        font-weight: bold;
        color: var(--nav-color);
    }

    .travel-items-tablet > ul > li > a:hover,
    .hotel-items-tablet > ul > li > a:hover {
        color: white;
    }

    .nav-Bar-items-tablet > li a:hover {
        color: white;
    }

    li.travel-main-tablet:hover div.travel-tablet,
    li.hotel-main-tablet:hover div.hotel-tablet {
        display: block;
    }

    /* Xử lý icon */
    .btnDelete-icon {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .btnDelete-icon i {
        font-size: 1.8rem;
        color: white;
    }

    /* Xử lý ẩn hiện */
    .check__input:checked ~ .nav-overlay {
        display: block;
    }

    .check__input:checked ~ .col-90-tablet {
        transform: translateX(0%);
    }

    .Tour-items {
        display: none;
    }

    /* Xử lý phần sản phẩm */
    .container1 {
        margin: 0 100px;
    }

    .row-SanPhamHot > div.col-30 {
        width: 39%;
        margin: 20px 40px;
    }

    #footer > div.container {
        margin-left: 0;
        margin-right: 0;
    }

    .col-20 {
        width: 23%;
    }

    .googlemap iframe {
        height: 200px;
        width: 400px;
        border-radius: 5px;
    }
}